<!DOCTYPE html>
<html>

<head>
  <title>Weather Forecast</title>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to Weather Forecast App</h1>
</body>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</head>

<body>

  <h2>Current weather</h2>

  <table>
    <tr>
      <th>City</th>
      <th>Weather</th>
      <th>Temperature</th>
      <th>Feels like</th>
    </tr>
    <% for (var row of current) {%>
    <tr>
      <td><%= row.city %></td>
      <td><%= row.weather %></td>
      <td><%= row.temp %></td>
      <td><%= row.temp_feel %></td>
    </tr>
    <% } %>
  </table>
</br>
<form method="POST" action='/filter-results'>
  I would like to check out 
      <select id="city" name="city">
        <option value='London'>London</option>
        <option value='Berlin'>Berlin</option>
        <option value='New%20York'>New York</option>
        <option value='Tokyo'>Tokyo</option>
        <option value='Hong%20Kong'>Hong Kong</option>
      </select>
      in
      <select id="hours" name="hours">
        <option value=1>6</option>
        <option value=2>12</option>
        <option value=3>18</option>
        <option value=4>24</option>
        <option value=5>30</option>
        <option value=6>36</option>
        <option value=7>42</option>
        <option value=8>48</option>
      </select>
      hours
    <button>Check out weather!</button>
</form>

</body>

</html>